python-dotenv
langchain
openai
gradio
tensorboard
tbparse

# script_engine@git+https://github.com/HonoMi/script-engine.git@master
# machine_learning@git+https://github.com/HonoMi/machine-learing-python.git@master
