# git+https://github.com/huggingface/transformers@006da469dd5a465f4551f4245f780e3b1e92b76c
transformers==4.33.0

git+https://github.com/google-research/bleurt.git

accelerate >= 0.21.0
datasets >= 1.8.0
sentencepiece != 0.1.92
protobuf==3.20.0
py7zr
torch >= 1.3
ete3==3.1.2
numpy
evaluate
huggingface_hub
peft
deepspeed
einops
fugashi
unidic_lite

tqdm
pydantic
colorlog

line_profiling@git+https://github.com/hitachi-nlp/line-profiling.git@main
